<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Commercial Policy CCPBM</title>

        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="bower_components/angular-data-table/release/dataTable.css"/>
        <link rel="stylesheet" href="bower_components/angular-data-table/release/material.css"/>

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/md-table.css">
    </head>

    <body  ng-app="MyApp" ng-controller="AppCtrl" layout="column" ng-cloak="" class="body-color">
        <md-content flex layout="column" layout-fill>
            <md-toolbar class="md-toolbar-tools shadow-z-1" layout="row" style="background-color:#F44336;">
                <md-button class="md-icon-button" ng-show="true" aria-label="menu" ng-hide="isOpenLeft()" ng-click="toggleLeft()">
                    <md-icon md-svg-icon="img/icons/menu_white_24px.svg"></md-icon>
                </md-button>
                <label class="md-title" layout-padding>Outlet Survey</label>
                <span flex>&nbsp;</span>
                <div layout="row" layout-align="center center">
                    <md-button class="" ng-show="true" aria-label="delete" ng-hide="isOpenLeft()" ng-click="logout()">
                        <md-icon md-svg-icon="img/icons/lock_white_24px.svg"></md-icon>
                        <span>{{user_name}}</span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content flex layout="row"  class="content-color">
                <md-sidenav flex="20" class="md-sidenav-left md-whiteframe-z2"
                    md-component-id="left" >
                    <md-content flex layout="column" class="content-color">
                        <md-list>
                            <md-list-item ui-sref="home" class="md-actions content-color">
                                <md-icon md-svg-icon="img/icons/contacts_red_24px.svg"></md-icon>
                                <p>Home</p>
                            </md-list-item>
                            <md-subheader class="md-no-sticky body-color">Survey</md-subheader>
                            <md-list-item ui-sref="survey" class="md-actions content-color">
                                <md-icon md-svg-icon="img/icons/contacts_red_24px.svg"></md-icon>
                                <p>Outlet</p>
                            </md-list-item>
                            <md-list-item ui-sref="report" class="md-actions content-color">
                                <md-icon md-svg-icon="img/icons/report_red_24px.svg"></md-icon>
                                <p>Report</p>
                            </md-list-item>
                            <md-subheader class="md-no-sticky body-color">Setting</md-subheader>
                            <md-list-item ui-sref="outlet_type" class="md-actions">
                                <md-icon md-svg-icon="img/icons/role_red_24px.svg"></md-icon>
                                <p>Outlet Type</p>
                            </md-list-item>
                            <md-list-item ui-sref="question_type" class="md-actions">
                                <md-icon md-svg-icon="img/icons/role_red_24px.svg"></md-icon>
                                <p>Questions</p>
                            </md-list-item>
                            <md-list-item ui-sref="role" class="md-actions">
                                <md-icon md-svg-icon="img/icons/role_red_24px.svg"></md-icon>
                                <p>Role</p>
                            </md-list-item>
                            <md-list-item ui-sref="user" class="md-actions">
                                <md-icon md-svg-icon="img/icons/account_red_24px.svg"></md-icon>
                                    <p>Users</p>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ui-sref="setup" class="md-actions">
                                <md-icon md-svg-icon="img/icons/setting_red_24px.svg"></md-icon>
                                <p>Set up</p>
                            </md-list-item>
                        </md-list>
                        <spand flex layout-fill>&nbsp;</spand>
                    </md-content>
                </md-sidenav>
                <md-content class="container body-content body-color" layout-md md-scroll-y flex ui-view></md-content>
            </md-content>
        </md-content>


        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/jquery.base64.js"></script>
        <script src="js/tableExport.js"></script>
        <script src="js/FileSaver.js"></script>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
        <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>

        <script src="js/script.js"></script>
        <script src="js/survey.js"></script>
        <script src="js/login.js"></script>
        <script src="js/role.js"></script>
        <script src="js/user.js"></script>
        <script src="js/config.js"></script>
        <script src="js/outlet_type.js"></script>
        <script src="js/question_type.js"></script>
    </body>
</html>
