<md-dialog ng-cloak style="width:40%;">
  <form name="productDetail">
    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
          <span class="md-title" flex>Product Detail</span>
      </div>

    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" flex>
      	<md-input-container class="md-block md-subheader" flex>
      		<label>Code</label>
      		<input required name="product_code" ng-model="product_code">
      		<div ng-messages="productDetail.product_code.$error">
      		<div ng-message="required">This is required.</div></div>
      	</md-input-container>
        <md-input-container class="md-block md-subheader" flex>
          <label>Name</label>
          <input required name="product_name" ng-model="product_name">
          <div ng-messages="productDetail.product_name.$error">
          <div ng-message="required">This is required.</div></div>
        </md-input-container>
        <md-checkbox aria-label="product_active" ng-model="product_status">
          Active
        </md-checkbox>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex>&nbsp;</span>
      <md-button ng-click="cancel();">Cancel</md-button>
      <md-button class="md-primary" ng-click="create();">Save</md-button>
    </md-dilaog-actions>
  </form>
</md-dialog>
