<!DOCTYPE html>
<md-content flex layout-fill ng-cloak="" class="dark-body-color">
	<form name="outletInfo">
    		<div flex class="dark-body-color">
      			<md-card layout="column" flex layout-fill>
        			<md-card-title>
          				<md-card-title-text>
            					<span class="md-headline">Outlet location</span>
          				</md-card-title-text>
        			</md-card-title>
        			<md-content layout="column">
          				<img layout-padding ng-src="{{geo_path}}" class="md-card-image" alt="outlet_location">
          				<div layout="row" flex layout-padding layout-warp>
            					<span flex>Latitude : {{outletInfo.latitude}}</span>
            					<span flex>Longitude : {{outletInfo.longitude}}</span>
          				</div>
        			</md-content>
        			<md-card-action layout="row" layout-align="end center">
          				<md-button ng-click="initiate_geolocation();">Get Location</md-button>
        			</md-card-action>
      			</md-card>
      			<md-divider></md-divider>
			<div layout="row">
      				<md-card layout="column" flex layout-fill>
        				<md-card-title>
          					<md-card-title-text>
            						<span class="md-headline">Outlet Photo</span>
          					</md-card-title-text>
        				</md-card-title>
        				<md-content layout="column">
          					<img layout-padding ng-show="outletInfo.image_path_1 != null" ng-src="{{ outletInfo.image_path_1 }}" class="md-card-image" alt="outlet_image1"/>
          					<md-divider></md-divider>

        				</md-content>
        				<md-card-action layout="row" layout-align="start center">
          					<md-input-container flex>
            						<input id="file1" aria-label="image1" type="file" name="file1" onchange="angular.element(this).scope().photoChanged(this.files, 'file1')" ng-files ="getTheFiles($files, 'file1')" accept="image/*">
          					</md-input-container>
        				</md-card-action>
      				</md-card>
		<md-card layout="column" flex layout-fill>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Outlet Photo</span>
				</md-card-title-text>
			</md-card-title>
			<md-content layout="column">
				<img layout-padding ng-show="outletInfo.image_path_2 != null" ng-src="{{outletInfo.image_path_2}}" class="md-card-image" alt="outlet_image2"/>
				<md-divider></md-divider>

			</md-content>
			<md-card-action layout="row" layout-align="start center">
				<md-input-container flex>
					<input id="file2" aria-label="image2" type="file" name="file2" onchange="angular.element(this).scope().photoChanged(this.files, 'file2')" ng-files="getTheFiles($files, 'file2') " accept="image/*">
				</md-input-container>
			</md-card-action>
		</md-card>
		<md-card layout="column" flex layout-fill>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Outlet Photo</span>
				</md-card-title-text>
			</md-card-title>
			<md-content layout="column">
				<img layout-padding ng-show="outletInfo.image_path_3 != null" ng-src="{{outletInfo.image_path_3}}" class="md-card-image" alt="outlet_image3"/>
				<md-divider></md-divider>

			</md-content>
			<md-card-action layout="row" layout-align="start center">
				<md-input-container flex>
					<input id="file3" aria-label="image3" type="file" name="file3" onchange="angular.element(this).scope().photoChanged(this.files, 'file3')" ng-files="getTheFiles($files, 'file3')" accept="image/*">
				</md-input-container>
			</md-card-action>
		</md-card>
			</div>
    		</div>
  	</form>
</md-content>
