<md-content flex layout-fill ng-cloak="" class="dark-body-color">
  <form name="outletLocation">
    <div layout="row" flex class="dark-body-color">
      <md-card layout="column" flex layout-fill>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Outlet location</span>
          </md-card-title-text>
        </md-card-title>
        <md-content layout="column">
          <img layout-padding ng-src="{{geo_path}}" class="md-card-image" alt="outlet_location">
          <div layout="row" flex layout-padding layout-warp>
            <span flex>Latitude : {{outlet_lat}}</span>
            <span flex>Longitude : {{outlet_log}}</span>
          </div>
        </md-content>
        <md-card-action layout="row" layout-align="end center">
          <md-button ng-click="initiate_geolocation();">Get Location</md-button>
        </md-card-action>
      </md-card>
      <md-divider></md-divider>
      <md-card layout="column" flex layout-fill>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Outlet Photo</span>
          </md-card-title-text>
        </md-card-title>
        <md-content layout="column">
          <img layout-padding ng-show="thumbnail.dataUrl != null" ng-src="{{ thumbnail.dataUrl }}" class="md-card-image" alt="outlet_image"/>
          <md-divider></md-divider>

        </md-content>
        <md-card-action layout="row" layout-align="start center">
          <md-input-container flex>
            <input type="file" name="file" onchange="angular.element(this).scope().photoChanged(this.files)" />
          </md-input-container>
        </md-card-action>
      </md-card>
    </div>
  </form>
</md-content>
