<md-content ng-cloak flex layout-fill ng-cloak="" class="dark-body-color md-padding" md-scroll-y ng-init="loadConfig()" md-scroll-y>
  	<form name="OutletDetail">
		<md-card md-theme-watch flex>
      			<md-card-title>
				<md-card-title-text>
          				<span class="md-title pyidaungsu" flex>{{outletInfo.product_name == undefined ? 'Outlet' : outletInfo.product_name}} {{detailTitle}} </span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content class="container dark-body-color">
				<div flex layout-padding ng-show="show_layout=='survey_info'" ng-include="'templates/surveys/survey_info.html'" md-scroll-y class="dark-body-color"></div>
				<div flex layout-padding ng-show="show_layout=='survey_question'" ng-include="'templates/surveys/survey_question.html'" class="dark-body-color"></div>
				<div flex layout-padding ng-show="show_layout=='survey_location'" ng-include="'templates/surveys/survey_location.html'" class="dark-body-color"></div>
    	</md-card-content>
			<md-card-actions layout="row">
				<md-button ng-click="previous(show_layout)" ng-show=show_previous>Previous</md-button>
				<span flex>&nbsp;</span>
				<md-button ng-click="DetailClose()" >Cancel</md-button>
				<md-button class="md-primary" ng-click="buttonAction == 'save' ? create() : update() " ng-show="show_save">{{buttonAction}}</md-button>
				<md-button ng-click="next(show_layout)" ng-show="show_next">Next</md-button>
				</md-card-actions>
      </md-card>
	</form>
</md-content>
