<md-content flex md-scroll-y class="md-padding body-color">
	<form name="outletQuestion">
		<div flex ng-cloak="" ng-repeat="question in questions" class="body-color">
			<md-card layout= "row" flex >
				<md-button flex>
					<span flex class="pyidaungsu">{{question.config_value}}</span>
				</md-button>
				<md-input-container class="md-block" flex="20">
					<label>Answer</label>
					<input type="number" min="0" max="999999" ng-value="outletQuestion.answer">
				</md-input-container>
			</md-card>
		</div>
	</form>
</md-content>
