<md-content flex layout="column" layout-fill>
  <md-toolbar class="md-toolbar-tools shadow-z-1" layout="row" style="background-color:#F44336;">
    <md-button class="md-icon-button" ng-show="true" aria-label="menu" ng-hide="isOpenLeft()" ng-click="toggleLeft()">
      <md-icon md-svg-icon="img/icons/menu_white_24px.svg"></md-icon>
    </md-button>
    <label class="md-title" layout-padding>Outlet Survey</label>
    <span flex="5">&nbsp;</span>
    <md-content flex style="background-color:#F44336; border-radius:2px;">
      <md-autocomplete layout-fill
        ng-disabled="False"
        md-no-cache=""
        md-selected-item=""
        md-search-text-change=""
        md-search-text=""
        md-selected-item-change=""
        md-items=""
        md-item-text=""
        md-min-length="0"
        placeholder="Search" style="background-color:#FF8A80; color:white; border-radius:3px;"
	ng-hide="isOpenLeft()"
	>
      </md-autocomplete>
    </md-content>
    <span flex="5">&nbsp;</span>
    <div layout="row" layout-align="center center" ng-hide="isOpenLeft()">
      <md-button class="" ng-show="true" aria-label="delete" ng-click="logout()">
        <md-icon md-svg-icon="img/icons/lock_white_24px.svg"></md-icon>
	<span>{{user_name}}</span>
      </md-button>
    </div>
  </md-toolbar>
  <md-content flex layout="row"  class="content-color">
    <md-sidenav flex="20" class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left" >
      <md-content flex layout="column" class="content-color">
        <md-list>
          <md-subheader class="md-no-sticky body-color">Survey</md-subheader>
          <md-list-item ng-click="show_layout='survey_list'" class="md-actions content-color">
            <md-icon md-svg-icon="img/icons/contacts_red_24px.svg"></md-icon>
            <p>Outlet</p>
          </md-list-item>
	 <md-list-item ng-click="show_layout='report_list'" class="md-actions content-color">
	 	<md-icon md-svg-icon="img/icons/report_red_24px.svg"></md-icon>
		   <p>Report</p>
	 </md-list-item>
          <md-subheader class="md-no-sticky body-color">Setting</md-subheader>
  	 <md-list-item ng-click="show_layout='role_list'" class="md-actions">
     		<md-icon md-svg-icon="img/icons/role_red_24px.svg"></md-icon>
    	 	<p>Role</p>
   	</md-list-item>
           <md-list-item ng-click="show_layout='user_list'" class="md-actions">
             <md-icon md-svg-icon="img/icons/account_red_24px.svg"></md-icon>
             <p>Users</p>
           </md-list-item>
	<md-divider></md-divider>
        <md-list-item ng-click="show_layout='config_list'" class="md-actions">
            <md-icon md-svg-icon="img/icons/setting_red_24px.svg"></md-icon>
            <p>Set up</p>
          </md-list-item>
        </md-list>
        <spand flex layout-fill>&nbsp;</spand>
      </md-content>
    </md-sidenav>
      <div flex layout-fill ng-include="'templates/login/login.html'"
        ng-show="!$root.loginCorrect"  layout-align="center start" class="body-color"></div>
      <md-content class="container body-content body-color" layout-md md-scroll-y flex ng-show="loginCorrect">
        <div flex ng-show="show_layout=='survey_list'" ng-include="'templates/surveys/survey_list.html'"></div>
        <div flex ng-show="show_layout=='report_list'" ng-include="'templates/reports/report_list.html'"></div>
        <div flex ng-show="show_layout=='config_list'" ng-include="'templates/configs/config_list.html'"></div>
	       <div flex ng-show="show_layout=='user_list'" ng-include="'templates/users/user_list.html'"></div>
	       <div flex ng-show="show_layout=='role_list'" ng-include="'templates/roles/role_list.html'"></div>
      </md-content>
  </md-content>
</md-content>
