<md-content flex layout-fill ng-controller="UserCtrl" layout="column" ng-cloak="" class="body-color">
	<div flex style="margin:10px;" layout="column" ng-init="">
    		<div flex>
      			<label class="md-title" layout-padding style="color:red;">User List</label>
    		</div>
    		<div style="height:1%;">&nbsp;</div>
    		<div class="" layout="row">
      			<md-checkbox style="margin:15px;" aria-label="select_all"
      				ng-model="cbValue.cbselect_all" ng-checked="isChecked()" ng-click="selectAll()" md-indeterminate="isIndeterminate()">
        			Select All
      			</md-checkbox>
      			<span flex>&nbsp;</span>
      			<md-button class="md-raised md-warn" ng-click="showUserDetail();">Add</md-button>
      			<md-button class="md-raised" ng-show="cbValue.cbselect_edit" ng-click="delete()">Delete</md-button>
    		</div>
    		<md-content flex class="body-color rounded-block" layout="column">
			<div layout-fill class="dark-body-color" ng-repeat="type in types">
				<span flex class="md-title">{{type.type}}</span>
      				<div ng-repeat="item in items">
        				<md-card layout="row" layout-align="start center">
          					<md-checkbox class="margin-fifteen" aria-label="select_edit" ng-checked="exists(item.id, cbselected)" ng-click="checkedToEdit(item.id, cbselected);"></md-checkbox>
          					<md-button layout-fill layout-align="center center" ng-value="item.id" ng-model="item" ng-click="readOne(item.id)">
            					<span flex>{{item.name}}[ {{item.role_name}} ]</span>
          					</md-button>
          					<md-button ng-disabled="item.user_status == '1' ? false : true" class="item.user_status == '1' ? md-warn : md-primary">
            						<span flex>{{item.user_status == '1' ? 'Active' : 'Inactive'}}</span>
          					</md-button>
        				</md-card>
      				</div>
			</div>
    		</md-content>
  	</div>
</md-content>
