<!DOCTYPE html>
<md-dialog ng-cloak>
  <form name="question_typeDetail">
    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
          <span class="md-title" flex>{{question_typeInfo.question_type_value == undefined ? 'Question Type' : question_typeInfo.question_type_value}} Detail</span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" flex ng-init="loadConfig()">
        <md-input-container class="md-block md-subheader" flex>
          <label>Name</label>
          <input required ng-model="question_typeInfo.question_type_name" name="question_type_name">
          <div ng-messages="question_typeDetail.question_type_name.$error">
          <div ng-message="required">This is required.</div></div>
        </md-input-container>
        <md-checkbox aria-label="question_type_active" name="question_type_status"
        ng-model="question_typeInfo.question_type_status" ng-click="changeActive(question_typeInfo.question_type_status)">
          Active
        </md-checkbox>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex>&nbsp;</span>
      <md-button ng-click="cancel();">Cancel</md-button>
      <md-button class="md-primary" ng-click="buttonAction == 'save' ? create() : update() ">{{buttonAction}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
